<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714247053537-nslmgquv9v2g3v6j445ak9u4uhp5mvh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714247053537-nslmgquv9v2g3v6j445ak9u4uhp5mvh0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>714247053537-alv7rssv9oqp4ii2ecmlu0b4fqhdquck.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5cCrbvQRg2eeBrJVDFsAG-nxpEyyCKBE</string>
	<key>GCM_SENDER_ID</key>
	<string>714247053537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.koreacars</string>
	<key>PROJECT_ID</key>
	<string>koreacars-b5df3</string>
	<key>STORAGE_BUCKET</key>
	<string>koreacars-b5df3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714247053537:ios:1ace9b51c75e8ae6e097a0</string>
</dict>
</plist>